# core
fastapi
uvicorn[standard]
python-dotenv
gitpython
wandb
streamlit


# langchain stack
langchain
langchain-core
langchain-text-splitters
langgraph
langgraph-sdk
langsmith
langchain-openai

# ml stack
numpy
scipy
scikit-learn

# local libs
-e ./libs
